

.menu {
    width: 200px; 
    height: 100%; 
    background-color: rgb(247,201,64); 
    position: fixed; 
    left: 0;
    top: 50px; 
    font-weight: bolder;
    font-size: larger;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 40px 20px;
    border-bottom: 1px solid #666; 
}

.menu ul li a {
    color: black;
    text-decoration: none;
}

.contenido {
    margin-left: 200px; 
    padding: 20px; 
}

img {
    width: 100px;
    height: 46px;
}

.imagen {
    background-color: black;
}

table {
    width: 70vw;
    text-align: center;
    border-collapse: collapse; 
}

table th, table td {
    padding: 10px; 
    border: 1px solid #ddd; 
}

th {
    background-color: lightgrey;
}

td {
    background-color: white;
}

.botonVolverAtras {
    width: 80px;
    padding: 8px;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

label {
    font-weight: bold;
}

input[type='text'] {
    height: 33px;
    width: 210px;
}

.botonSave {
    height: 40px;
    width: 218px;
    background-color: rgb(50,50,50);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

form {
    border: 1px solid lightgrey;
    padding: 40px;
    width: 50%;
    border-radius: 10px;
    background-color: white;
}

.userImage {
    width: 28px;
    height: 25px;
    float: left;
}

.botonNavegacion {
    margin: 25px;
    background-color: rgb(247,201,64);
    color: black;
}